.padding{
    padding-bottom:2rem;
}

body{
  transition: 0.5s;
}

.active{
  color: #000000;
  font-weight: bold;
}

.dark .active{
  color: #ffffff;
}

.dark{
  background-color: rgb(70, 70, 70);
  transition: 0.5s;
}

.dark .navbar{
  background-color: rgb(90, 90, 90) !important;
  transition: 0.5s;
}

.dark .navbar-light .navbar-toggler-icon{
  color: #ffffff !important;
}

.dark .navbar-light .navbar-nav .nav-link.active{
  color: #ffffff !important;
}

.dark .navbar-light .navbar-nav .nav-link{
  color: rgb(180, 180, 180) !important;
}

.navbar-light .navbar-nav .nav-link:hover{
  font-weight: bold;
  transition: 0.2s;
}

.dark .navbar-light .navbar-nav .nav-link:hover{
  color: rgb(200, 200, 200);
}

hr{
  border: solid;
}
.dark hr{
  color: #ffffff;
}

.hero{
  font-size: 42px;
  line-height: 45px;
  font-weight: 400;
}

.dark h1{
  color: #ffffff;
}

.dark p{
  color: #ffffff;
}

.fa{
    font-size: 1.5em!important;
}

.dark .fa{
  color: white;
}

header{
  display: flex;
  justify-content: flex-end;
  padding: 30px 30px 0px 30px;
}

.switch{
  width: 80px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: 0.5s;
  top: 5px;
  left: 5px;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

#home{
  width:100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 120px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 35px;
    transition: all 0.3s ease-out;
  }

  .dark .wrapper .button{
    background: rgb(100, 100, 100);
  }

  .dark .wrapper .button span{
    color: white !important;
  }

  .dark .navbar-light .navbar-toggler{
    border-color: rgba(255, 255, 255, 0.1);
  }

  .btn{
    padding:0!important;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #0A66C2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #171515;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #BB001B;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #4285F4;
  }

  .wrapper .button .icon i{
    font-size: 15px;
    line-height: 35px;
    transition: all 0.3s ease-out;
  }

  .wrapper .button span{
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #0A66C2;
  }
  .wrapper .button:nth-child(2) span{
    color: #171515;
  }
  .wrapper .button:nth-child(3) span{
    color: #BB001B;
  }
  .wrapper .button:nth-child(4) span{
    color: #4285F4;
  }

  .wrapper .button:hover .fa{
    color: #fff;
  }

  .number{
    margin-right:3rem;
  }

  .card {
    position: relative;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
  }

  .dark .card{
    background-color: rgb(70, 70, 70);
  }

  .dark .more:hover{
    background-color: #ffffff;
    color: rgb(70, 70, 70);
    transition: all 0.3s ease;

  }

  .dark .card-title{
    color: #ffffff;
  }

  .dark .btn-outline-secondary{
    border-color: #ffffff;
    color: #ffffff;
  }

  .card:hover {
    transform:scale(1.05);
  }

  a.flex-row.align-items-center.mx-auto.button{
    text-decoration:none;
  }

  footer{
    background-color: rgb(230, 230, 230);
  }

  .dark span{
    color: white;
  }